NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=6bfe12be5bd6d8407ed75b469ea91bfc
ALCHEMY_API_KEY=1234567890 # Replace with your Alchemy key
NEXT_PUBLIC_WALLET_CONNECT_ID= # Replace with your WalletConnect ID
POSTGRES_PRISMA_URL=